
.footer {
  background: linear-gradient(349deg, #00013d, #8f548b, #714400, #3a4636);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 35s ease infinite;
  -moz-animation: AnimationName 35s ease infinite;
  -o-animation: AnimationName 35s ease infinite;
  animation: AnimationName 35s ease infinite;
  color: #fff;
  font-size: 20px;
  padding: 30px 0;
  border-radius: 80px 2px 80px 4px;
  text-align: center;
}

.contact-info{
  text-align: center;
}

@-webkit-keyframes AnimationName {
  0%{background-position:48% 0%}
  50%{background-position:53% 100%}
  100%{background-position:48% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:48% 0%}
  50%{background-position:53% 100%}
  100%{background-position:48% 0%}
}
@-o-keyframes AnimationName {
  0%{background-position:48% 0%}
  50%{background-position:53% 100%}
  100%{background-position:48% 0%}
}
@keyframes AnimationName {
  0%{background-position:48% 0%}
  50%{background-position:53% 100%}
  100%{background-position:48% 0%}
}






.footer-content h2 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 5%;
/* margin-left: 50%; */
}

.footer-content .contact-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  /* margin-left: 40%; */
}

p{
  margin-bottom: 0%;
}

/* .testing-center{
  text-align: center;
} */

.container-contact{
  text-align: center;
}

.footer-content .icon {
  text-align: center;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .footer-content {
    text-align: center;
  }
}