html {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: url('https://en.idei.club/uploads/posts/2023-06/1686191842_en-idei-club-p-artificial-intelligence-background-dizain-1.png');
  background-repeat: no-repeat;
  background-size: cover;
}
